@charset "utf-8";
/*通用設定值 取消某些標籤的預設設定*/
:root{
    --orange1: #ff8000;
    --orange2: #ea7500;
    --orange3: #ffdcb9;
    --back-color: #f4f4f4;
    --page-color: #fcfcfc;
    --color-white: #fefefe;
    --color-black: #000;
    --color-blue: #0080ff;
    --color-grey: #bebebe;
    --color-red: #ff0000;
    --color-red-hover: #CE0000;
}
*{
    box-sizing: border-box;
}
html,body{
    font-family: '微軟正黑體', arial;
    background-color: var(--back-color);
}
.main{
    height: 100%;
}
.wrapper{
    height: 100%;
}
body{
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
    height: 100vh;
    min-width: 1200px;
    min-height: 800px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
    box-shadow: none;
}
main{
    width: 70%;
    height: 80%;
    position: relative;
    left: 15%;
    top: 15%;
}


/*設定整個頁面版型*/
.container{
    width: 100%;
    height: 50%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 25%;
}
.row{
    margin-left: -16px;
    margin-right: -16px;
}
.row:after{
    content: ''; /*填空值*/
    display: block; /*設定display的block，預設為inline*/
    clear: both; /*清除左右浮動*/
}
.col-2,.col-3,.col-4{
    float: left;
    border: 1px solid red;
    padding-left: 16px;
    padding-right: 16px;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.33333%;
}
.col-4{
    width: 25%;
}

/*mask-dark 遮罩元件*/
.mask-dark{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*功能列相關*/
.navbar{
    width: 100%;
    height: 8%;
    background-color: var(--orange1);
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    top: 0;
    min-height: 64px;
    min-width: 1200px;
}
.fill-up{
    width: 15%;
    min-width: 180px;
}
.logo-group{
    display: flex;
    align-items: center;
    width: 14%;
    height: 80%;
    min-width: 168px;
}
.navbar .logo{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 100%;
    background-image: url('../images/school.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /*標題關鍵字縮進去logo之後且不換行*/
    white-space: nowrap;
    text-indent: 100%;/*縮格*/
    overflow: hidden;
}
.logo-title{
    font-size: 20px;
    font-weight: 900;
    color: var(--color-white);
    margin-left: 15px;
}
@media (max-width: 1500px) {
    .logo-title {
      font-size: 18px;
    }
  }
@media (max-width: 1300px) {
    .logo-title {
      font-size: 16px;
    }
  }
.navbar .nav{
    float: right;
}
.navbar .nav .nav-item{
    float: left;
}
.nav-user{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 588px;
}
.nav-user p{
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
}
.nav-log{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 12px;
}
.nav-login{
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    transition: all .3s;
}
.nav-login:hover{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/*主要功能頁*/
.main-page{
    width: 100%;
    height: 100%;
}
.main-news{
    height: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-news-title{
    width: 95%;
    height: 90%;
}
.main-title-title{
    color: var(--orange1);
    width: 100%;
    height: 10%;
    font-size: 20px;
    font-weight: 700;
}
.main-news-mess{
    height: 18%;
    width: 100%;
    border-top: 1px solid var(--orange3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mess-date{
    font-size: 12px;
    color: var(--orange1);
}
.main-page-num{
    width: 30%;
    height: 10%;
    margin-left: 35%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.main-page-num ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main-page-num li{
    color: var(--color-black);
    transition: all .3s;
}
.main-page-num li:hover{
    color: var(--orange1);
    transform: translateY(-3px);
}

/*搜尋框*/
.search-block{
    height: 5%;
    margin-bottom: 2%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.search-box{
    width: 60%;
    height: 100%;
    border-radius: 20px;
    display: flex;
}
.search-bar{
    width: 95%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border: 2px solid var(--orange1);
    border-right: none;
    border-radius: 20px 0 0 20px;
    transition: all .3s;
}
.search-but{
    width: 10%;
    height: 100%;
    background-color: var(--orange1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--orange1);
    border-radius: 0 20px 20px 0;
    color: var(--color-white);
    transition: all .3s;
    z-index: 1;
}
.search-but i{
    z-index: 0;
}
.search-but:hover{
    background-color: var(--orange2);
    color: var(--color-grey);
    border-color: var(--orange2);
}

/*公告頁面專區*/
.href-link{
    top: 90px;
    left: 15%;
    display: flex;
    font-weight: 500;
}
.href-link a{
    color: var(--color-black);
}
.message-page{
    position: absolute;
    width: 70%;
    height: 700px;
    top: 100px;
    left: 15%;
    display: flex;
}
.message-page-left{
    width: 60%;
}
.message-page-right{
    width: 40%;
    height: 100%;
    border-left: 1px solid var(--orange3);
}
.back-href{
    color: var(--color-red);
    height: 25px;
    border-bottom: 1px dashed var(--orange3);
}
.back-href p{
    transition: all.3s;
}
.back-href p:hover{
    color: var(--color-red-hover);
    transform: translateY(-3px);
}
.message-title{
    width: 100%;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.date-person{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.message-date{
    font-size: 12px;
}
.message-person{
    font-size: 12px;
    left: 15px;
    color: var(--color-red);
}
.message-info{
    height: 500px;
    padding: 10px 15px 0;
}
.message-docu{
    background-color: var(--orange3);
    margin: 0 0 0 15px;
    width: calc(100% - 30px);
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/*投票相關*/
.main-vote-mess{
    height: 18%;
    width: 100%;
    border-top: 1px solid var(--orange3);
    display: flex;
    align-items: center;
}
.mnml{
    width: 90%;
}
.mnmr{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all .3s;
}
.mnmr:hover{
    color: var(--orange1);
    transform: translateY(-3px);
}
.vote-box{
    position: absolute;
    width: 40%;
    height: 60%;
    left: 30%;
    top: 20%;
    background-color: var(--page-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
}
.vote-box.open{
    opacity: 1;
    z-index: 100;
}
.num-date{
    display: flex;
}
.vote-box-num{
    font-size: 12px;
    height: 20px;
}
.vote-box-date{
    font-size: 12px;
    margin-left: 15px;
}
.vote-box-title{
    font-size: 24px;
    margin-top: 15px;
    font-weight: 600;
}
.vote-box-info{
    margin-top: 40px;
}
.vote-about{
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vote-pnum{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vote-but{
    width: 50%;
    height: 40px;
    background-color: var(--orange1);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    transition: all .3s;
}
.vote-but:hover{
    background-color: var(--orange2);
    transform: translateY(-3px);
}
